In [60]:
# Dependencies
import pandas as pd

In [61]:
# Load the file to be worked on
working_file = pd.read_csv("Resources/purchase_data.csv")

In [62]:
# Read from the file to see content
working_file.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [63]:
# This will tell us the total number of players
player_count = len(working_file["SN"].value_counts())
player_count

576

In [64]:
# This tells us the number of unique items
number_of_unique_items = len(working_file["Item Name"].value_counts())
number_of_unique_items

179

In [65]:
# This will show us the average purchase price of all purchases
average_purchase_price = working_file["Price"].mean()
average_purchase_price

3.050987179487176

In [66]:
# This will show us the total number of purchases
total_purchases = working_file["Purchase ID"].count()
total_purchases

780

In [67]:
# This will tell us the total revenue
total_revenue = working_file["Price"].sum()
total_revenue

2379.77

In [68]:
# We will create a new dataframe with only gender, SN, and age for ease of use in calculations
player_demographic = working_file.loc[:,["Gender", "SN", "Age"]]

In [69]:
# dropping duplicated values 
player_demographic = player_demographic.drop_duplicates()
player_demographic

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [70]:
# This will tell us how many male players there are
male_player_count = player_demographic["Gender"].value_counts()["Male"]
male_player_count

484

In [71]:
# This will tell us how many female players there are
female_player_count = player_demographic["Gender"].value_counts()["Female"]
female_player_count

81

In [72]:
# This will tell us how many non-disclosed players there are
other_player_count = player_demographic["Gender"].value_counts()["Other / Non-Disclosed"]
other_player_count

11

In [73]:
# This will tell us the percent of male player from the total player base
male_player_percent = (male_player_count / player_count) *100
male_player_percent.map(<)

84.02777777777779

In [74]:
# This will tell us the percent of female player from the total player base
female_player_percent = (female_player_count / player_count) *100
female_player_percent

14.0625

In [75]:
# This will tell us the percent of non-disclosed player from the total player base
other_player_percent = (other_player_count / player_count) *100
other_player_percent

1.9097222222222223

In [76]:
# This will tell us the purchase count
gender_purchase_count = working_file.groupby(["Gender"]).count()["Price"]
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [77]:
# This will tell us the average purchase price 
gender_average_purchase_price = working_file.groupby(["Gender"]).mean()["Price"]
gender_average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [78]:
# This will tell us the total purchase value
gender_total_purchase_value = working_file.groupby(["Gender"]).sum()["Price"]
gender_total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [79]:
gender_total_count = player_demographic["Gender"].value_counts()
gender_total_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [80]:
# This will tell us the average purchase total per person by gender
gender_average_purchase_total_per_person = gender_total_purchase_value / gender_total_count
gender_average_purchase_total_per_person

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [81]:
# We would like to see the minimum age to create the lower levels of the bins
age_min = working_file["Age"].min()
age_min

7

In [82]:
# We would like to see the maximum age to create the higher levels of the bins
age_max = working_file["Age"].max()
age_max

45

In [83]:
# This will create the bins
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# This will create the labels for our bins
age_labels = ["less than 10", "10 to 14 years old", "15 to 19 years old", "20 to 24 years old" , "25 to 29 years old",
             "30 to 34 years old", "35 to 39 years old", "40 and more"]

In [84]:
# We will cut our file by age into the bins we have created, and put them in a new column called age ranges
working_file["Age Ranges"] = pd.cut(working_file["Age"],bins,labels = age_labels)
working_file

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Ranges
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24 years old
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40 and more
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24 years old
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24 years old
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24 years old
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20 to 24 years old
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20 to 24 years old
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20 to 24 years old
778,778,Sisur91,7,Male,92,Final Critic,4.19,less than 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20 to 24 years old

In [85]:
# This will tell us the purchase count by the broken bins of 4 years
bins_purchase_count = working_file["Age Ranges"].value_counts()
bins_purchase_count

20 to 24 years old    365
15 to 19 years old    136
25 to 29 years old    101
30 to 34 years old     73
35 to 39 years old     41
10 to 14 years old     28
less than 10           23
40 and more            13
Name: Age Ranges, dtype: int64

In [86]:
# This will tell us the average purchase price by the broken bins of 4 years
average_purchase_price = working_file.groupby(["Age Ranges"]).mean()["Price"]
average_purchase_price

Age Ranges
less than 10          3.353478
10 to 14 years old    2.956429
15 to 19 years old    3.035956
20 to 24 years old    3.052219
25 to 29 years old    2.900990
30 to 34 years old    2.931507
35 to 39 years old    3.601707
40 and more           2.941538
Name: Price, dtype: float64

In [87]:
# This will tell us the total purchase value by the broken bins of 4 years
total_purchase_price = working_file.groupby(["Age Ranges"]).sum()["Price"]
total_purchase_price

Age Ranges
less than 10            77.13
10 to 14 years old      82.78
15 to 19 years old     412.89
20 to 24 years old    1114.06
25 to 29 years old     293.00
30 to 34 years old     214.00
35 to 39 years old     147.67
40 and more             38.24
Name: Price, dtype: float64

In [88]:
total_spent_by_each_player = working_file.groupby(["SN","Age Ranges"]).sum()["Price"]
total_spent_by_each_player = total_spent_by_each_player.dropna(how = "any")
total_spent_by_each_player

SN             Age Ranges
Adairialis76   15 to 19 years old    2.28
Adastirin33    35 to 39 years old    4.48
Aeda94         15 to 19 years old    4.91
Aela59         20 to 24 years old    4.32
Aelaria33      20 to 24 years old    1.79
                                     ...
Yathecal82     20 to 24 years old    6.22
Yathedeu43     20 to 24 years old    6.02
Yoishirrala98  15 to 19 years old    4.58
Zhisrisu83     10 to 14 years old    7.89
Zontibe81      20 to 24 years old    8.03
Name: Price, Length: 576, dtype: float64

In [89]:
# This will tell us the average purchase total per person by the broken bins of 4 years
average_purchase_total_age_group = total_spent_by_each_player.groupby(["Age Ranges"]).mean()
average_purchase_total_age_group

Age Ranges
less than 10          4.537059
10 to 14 years old    3.762727
15 to 19 years old    3.858785
20 to 24 years old    4.318062
25 to 29 years old    3.805195
30 to 34 years old    4.115385
35 to 39 years old    4.763548
40 and more           3.186667
Name: Price, dtype: float64

In [90]:
top_spender_purchase_count = working_file.groupby(["SN"]).count()["Price"]
top_spender_purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [91]:
top_spender_average_purchase_price= working_file.groupby(["SN"]).mean()["Price"]
top_spender_average_purchase_price

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [92]:
top_spender_total_purchase_value = working_file.groupby(["SN"]).sum()["Price"]
top_spender_total_purchase_value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [93]:
top_spender_dataframe = pd.DataFrame({"Total purchase value":top_spender_total_purchase_value,
                                      "Average purchase price":top_spender_average_purchase_price,
                                      "Purchase count": top_spender_purchase_count
    
})

In [94]:
# This will identify the top 5 spenders by SN, purchase count, average purchase price, and total purchase value in a table
top_spenders = top_spender_dataframe.sort_values("Total purchase value",ascending=False)
top_spenders.head(5)

             Total purchase value  Average purchase price  Purchase count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

In [100]:
item_data = working_file.loc[:,["Item ID", "Item Name", "Price"]]

In [101]:
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"]

In [102]:
items_dataframe = pd.DataFrame({"Total Purchase Value":total_item_purchase,
                                "Item Price": average_item_purchase,
                                "Purchase Count": item_count
    
})

In [103]:
# This will identify the 5 most popular items ordered by purchase count with the item ID, item name, purchase count,
# item price & total revenue
top_items = items_dataframe.sort_values("Purchase Count", ascending = False)
top_items.head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,59.99,4.614615,13
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.230000,12
145,Fiery Glass Crusader,41.22,4.580000,9
132,Persuasion,28.99,3.221111,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.530000,9

In [99]:
# This will identify the 5 most profitable items ordered by total purchase value with the item ID, item name, purchase count,
# item price & total revenue
top_items = items_dataframe.sort_values("Total Purchase Value", ascending = False)
top_items.head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,59.99,4.614615,13
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.230000,12
82,Nirvana,44.10,4.900000,9
145,Fiery Glass Crusader,41.22,4.580000,9
103,Singed Scalpel,34.80,4.350000,8